<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <title>Procesar Archivos Excel</title>
    </head>
    <body>
        <h1>Subir y Procesar Archivo Excel, para obtener datos de catastro</h1>

        <form id="uploadForm" enctype="multipart/form-data">
          <div>
            <div class="inputFile">
              <label for="fileInput1">* Cargar archivo de datos de demandas</label>
              <input type="file" id="fileInput1" name="file_demanda" accept=".xlsx" required>
            </div>
            <div class="inputFile">
              <label for="fileInput2">* Cargar archivo de datos de  PDR</label>
              <input type="file" id="fileInput2" name="file_pdr" accept=".xlsx" required>
            </div>
          </div>
          <button type="submit">Subir Archivo</button>
        </form>
      <br>

      
      <h3 id="selectoresColumns">Establesca las relaciones de las columnas del archivo de demandas con las etiquetas de cada selector.</h3>
      <div class="listSelectoresColunm">
        <div id="selectorsContainer" class="selectorsContainers">
          <!-- selectores de columnas -->  
        </div>
      </div>
      <br>
      
      <h3 id="selectoresColumnsPostes">Establesca las relaciones de las columnas del libro de postes con las etiquetas de cada selector.</h3>
      <div class="listSelectoresColunm">
        <div id="selectorsContainerPostes" class="selectorsContainers">
          <!-- selectores de columnas -->  
        </div>
      </div>
      <br>


      <h3 id="selectoresColumnsTanquilla">Establesca las relaciones de las columnas del libro de tamquillas con las etiquetas de cada selector.</h3>
      <div class="listSelectoresColunm">
        <div id="selectorsContainerTanquillas" class="selectorsContainers">
          <!-- selectores de columnas -->  
        </div>
      </div>

      <br>
      <div class="selectContainer">
        <label for="selectSector">* Seleccione el sector:</label>
        <select id="selectSector" name="sector" required>
            <option value="" disabled selected>Seleccione un sector</option>
        </select>
      </div>
      <br>
      <button id="processButton" disabled>Procesar Archivo</button>
      <br>
      <a id="downloadLink" style="display:none;">Descargar Archivo Procesado</a>
      
      <div id="loaderOverlay" class="loader-overlay">
        <div class="loader"></div>
      </div>

      <script>
        let uploadedFileNames = [];
        let list_sectors = [];
        const loader = document.getElementById('loaderOverlay');
        
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData();
            const file_demanda = document.getElementById('fileInput1');
            const file_pdr = document.getElementById('fileInput2')
            formData.append('file_demanda', fileInput1.files[0]);
            formData.append('file_pdr', fileInput2.files[0]);

            loader.style.display = 'flex';

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                  uploadedFileNames  = data.filenames;
                  list_sectors = data.list_sectors
                  list_columns_demanda = data.list_columns_demanda
                  list_columns_postes = data.list_columns_postes
                  list_columns_tanquillas = data.list_columns_tanquillas

                  list_columns_tanquillas.unshift('')
                  list_columns_demanda.unshift('')
                  list_sectors.unshift('')

                  const columns = ['cod_parc', 'parroquia', 'Tipo de Vía', 'Dirección', 'Uso Inmueble', 
                  'Nombre Inmueble', 'Tipo Inmueble', 'Fecha', 'Total Unidades', 'Total Residenciales', 'Total Comerciales', 
                  'Total Oficinas', 'Total Medico Asistencial', 'Total Gubernamental', 'Total Educativo', 'Manzana asignada', 
                  'Total Religioso', 'Total construccion', 'Total abandonadas', 'Total Plaza', 'Total Parques', 'sectores'];

                  columns_postes = ['Punto de referencia', 'Tipo de Poste', 'El poste tiene código', 'Fecha Levantaamiento', 'Nro. Poste', 'Manzana Asignada', 'sector']
                  columns_tanquilla = ['Punto de Referencia', 'Tipo de tanquilla',	'Fecha Levantamiento', 'sector',	'Manzana asignada']

                  const selectorsContainer = document.getElementById('selectorsContainer');
                  const selectorsContainerPostes = document.getElementById('selectorsContainerPostes');
                  const selectSector = document.getElementById('selectSector');
                  const selectoresColumns = document.getElementById('selectoresColumns')  
                  const selectoresColumnsPostes = document.getElementById('selectoresColumnsPostes')
                  const selectoresColumnsTanquilla = document.getElementById('selectoresColumnsTanquilla') 

                  selectorsContainer.innerHTML = '';
                  selectSector.innerHTML = '';
                  selectoresColumns.style.display = 'flex'
                  selectoresColumnsPostes.style.display = 'flex'
                  selectoresColumnsTanquilla.style.display = 'flex'

                  columns.forEach(column => {
                    const div = document.createElement('div');
                    div.classList.add('selectContainerColumn');
                    const label = document.createElement('label');
                    label.textContent = `* Relacionado con: ${column}:`;
                    const select = document.createElement('select');
                    select.name = column;
                    select.required = true;
                    
                    // Agregar opción por defecto
                    const defaultOption = document.createElement('option');
                    defaultOption.value = "";
                    defaultOption.textContent = `Relacionado con: ${column}`;
                    defaultOption.disabled = true;
                    defaultOption.selected = true;
                    select.appendChild(defaultOption);

                    // Llenar select con list_sectors
                    list_columns_demanda.forEach(column => {
                      const option = document.createElement('option');
                      option.value = column;
                      option.textContent = column;
                      select.appendChild(option);
                    });

                    div.appendChild(label);
                    div.appendChild(select);
                    selectorsContainer.appendChild(div);
                  });

                  columns_postes.forEach(column => {
                    const div = document.createElement('div');
                    div.classList.add('selectContainerColumn');
                    const label = document.createElement('label');
                    label.textContent = `* Relacionado con: ${column}:`;
                    const select = document.createElement('select');
                    select.name = column;
                    select.required = true;
                    
                    // Agregar opción por defecto
                    const defaultOption = document.createElement('option');
                    defaultOption.value = "";
                    defaultOption.textContent = `Relacionado con: ${column}`;
                    defaultOption.disabled = true;
                    defaultOption.selected = true;
                    select.appendChild(defaultOption);

                    // Llenar select con list_sectors
                    list_columns_postes.forEach(column => {
                      const option = document.createElement('option');
                      option.value = column;
                      option.textContent = column;
                      select.appendChild(option);
                    });

                    div.appendChild(label);
                    div.appendChild(select);
                    selectorsContainerPostes.appendChild(div);
                  });
                  
                  columns_tanquilla.forEach(column => {
                    const div = document.createElement('div');
                    div.classList.add('selectContainerColumn');
                    const label = document.createElement('label');
                    label.textContent = `* Relacionado con: ${column}:`;
                    const select = document.createElement('select');
                    select.name = column;
                    select.required = true;
                    
                    // Agregar opción por defecto
                    const defaultOption = document.createElement('option');
                    defaultOption.value = "";
                    defaultOption.textContent = `Relacionado con: ${column}`;
                    defaultOption.disabled = true;
                    defaultOption.selected = true;
                    select.appendChild(defaultOption);

                    // Llenar select con list_sectors
                    list_columns_tanquillas.forEach(column => {
                      const option = document.createElement('option');
                      option.value = column;
                      option.textContent = column;
                      select.appendChild(option);
                    });

                    div.appendChild(label);
                    div.appendChild(select);
                    selectorsContainerTanquillas.appendChild(div);
                  });

                  list_sectors.forEach(sector => {
                    const option = document.createElement('option');
                    option.value = sector;
                    option.textContent = sector;
                    selectSector.appendChild(option);
                  });

                  document.getElementById('processButton').disabled = false;
                }
            })
            .catch(error => console.error('Error:', error))
            .finally(() => {
                loader.style.display = 'none';
            });
        });

        document.getElementById('processButton').addEventListener('click', function() {
            const selectSector = document.getElementById('selectSector');
            const sector = selectSector.value
            if(sector === ''){
              alert('Debe seleccionar un sector')
              return
            }

            loader.style.display = 'flex';
            fetch('/process', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ filenames: uploadedFileNames, area : sector })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    downloadLink = document.getElementById('downloadLink');
                    downloadLink.href = `/download/${data.processed_file}`;
                    downloadLink.style.display = 'flex';
                    downloadLink.innerText = 'Descargar Archivo Procesado';
                }
            })
            .catch(error => console.error('Error:', error))
            .finally(() => {
                loader.style.display = 'none';
            });
        });
    </script>
      
    </body>
    </html>